.button {
  border: 0;
  border-radius: 0;
  cursor: pointer;
  padding: 10px 15px;
  background: transparent;
  transition: all .2s ease-in-out;
  &--primary {
    color: #FFF;
    background: blue;
    &:hover {
      background: rgb(20, 20, 170);
    }
  }
  &--secondary {
    font-size: 14px;
    background: #d2d2d2;
    color: #222;
    &:hover {
      background: #b1afaf;;
    }
  }
}